
.centralizarHorizontalmente{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tamanho{
    width: 33vw;
    height: 70vh;
    border-radius: 50%;
}

