<div id="cards" style="background-color: rgb(47, 47, 49)">
  <div class="container">
    <div class="mt-5" id="rolar_baixo">
      <div class="lh-sm">
        <div class="row row-cols-1 row-cols-md-3 g-5">
          <div class="col" *ngFor="let item of itens">
            <div class="card h-100 mb-5">
              <div class="card-body">
                <h6 class="card-title bi bi-github fw-bold"> {{item.name}}</h6><hr>
                <p class="card-subtitle mb-2 text-muted">Id do Projeto: {{ item.id}}</p><hr>
                <p class="card-text">Linguagem: {{item.language}}</p>
                <p class="card-text">{{item.description}}</p>
                <p class="card-text"> Criado em: {{ item.created_at | datePipe }}</p>
                <p class="card-text">Forks: {{ item.forks }} </p>
                <p class="card-text">Favoritados: {{ item.stargazers_count }} </p> <hr>
                <a [href]="item.download_url_adpted" class="card-link text-decoration-none fw-bold bi bi-file-zip-fill"> Download do Projeto
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>