<div class="container">
    <div class="row">
        <div class="centralizaVerticalmente">
            <div class="col-6">
                <app-logo [avatar_url]="facade.user$.value?.avatar_url"></app-logo>
            </div>
            <div class="col-6">
                <app-user *ngIf="!facade.carregando" (onSubmit)="onUser($event)"></app-user>
                <app-carregando *ngIf="facade.carregando"></app-carregando>
            </div>
        </div>
    </div>
</div>

<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
        <app-paginacao *ngIf="facade.projetos$.value?.length" (onProximo)="onProximo($event)"
            (onAnterior)="onAnterior($event)"></app-paginacao>
    </div>
    <form [formGroup]="filtro" *ngIf="facade.projetos$.value?.length">
        <div class="input-group">
            <div class="" id="favoritosssss">
                <input formControlName="favoritos" type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-dark bi bi-star-fill" for="btncheck1"> Favoritos</label>
            </div>
            <input formControlName="nome" type="text" class="form-control" placeholder="Nome do Projeto ou Data"
                style="height: 38px;">
        </div>
    </form>
</div>

<app-list [itens]="itensFiltrados" [urlBase]="facade.url"></app-list>
<footer style="background-color: rgb(47, 47, 49)">
    <br><br>
</footer>